.header__customer {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #131921;
  position: sticky;
  top: 0 ;
  z-index: 100;
  padding-left: 8px;
  padding-right: 8px;
}

.header__logo__customer {
  width: 100px;
  object-fit: contain;
  margin: 0 20px;
  margin-top: 18px;
}

.header__search__customer {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 24px;
}

.header__searchInput__customer {
  height: 12px;
  padding: 15px;
  border: none;
  width: 100%;
}

.header__searchIcon__customer {
  padding: 5px;
  width: 30px !important;
  height: 30px !important;
  background-color: #cd9042;
}

.header__optionLineOne__customer {
  font-size: 10px;
}

.header__optionLineTwo__customer {
  font-size: 13px;
  font-weight: 800;
}

.header_optionBasket__customer {
  display: flex;
  align-items: center;
  color: white;
}

.header__basketCount__customer {
  margin-left: 10px;
  margin-right: 10px;
}

.header__nav__customer {
  display: flex;
  justify-content: space-evenly;
}

.header__option__customer {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
}
