.manage_account {
  background-color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.manage_account__container {
  width: 300px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid lightgray;
  padding: 20px;
  margin-top: 40px;
}

.manage_account__container > h1 {
  font-weight: 500;
  margin-bottom: 20px;
}

.manage_account__container > form > h5 {
  margin-bottom: 5px;
}

.manage_account__container > form > input {
  height: 30px;
  margin-bottom: 10px;
  background-color: white;
  width: 98%;
}

.manage_account__container > p {
  margin-top: 15px;
  font-size: 12px;
}

.manage_account__updateButton {
  background: #f0c14b;
  border-radius: 2px;
  width: 100%;
  height: 30px;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
}
